.active-link-admin {
    background: linear-gradient(
        to right,
        var(--primary-color-rgba),
        rgba(0, 3, 15, 0)
    );

    color: var(--primary-color-600) !important;
    & svg {
        color: var(--primary-color-600) !important;
    }
}

.active-link-admin:hover {
    background: linear-gradient(
        to right,
        var(--primary-color-rgba-20),
        rgba(0, 3, 15, 0)
    ) !important;

    &:hover {
        svg {
            color: var(--primary-color-500) !important;
        }
    }
}
